<html>
    <head>
        <title>Kirsty - DjangoGirls @ PyConUK</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Kirsty's Summary of Django Gils and PyConUK</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
                        <p>published: 15.09.2018, 12:14</p>
            <p>Workshop started at 8:30am and a lot of things were learned......</p>
        </div>

        <div>
            <h2><a href="">PyConUK Continues</a></h2>
            <p>published: 15.09.2018, 12:14</p>
            <p>Went to some talks and workshops and learned lots of stuff. Took some time to continue working on Django tutorial material.....</p>
        </div>
    </body>
</html>